@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-notosans: "Noto Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background-color : #fcf4ec;
}

.shadow-black {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Shadow hitam */
}

.banner-slide-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* Masking image */
.image-wrapper img {
  mask-image: url(../public/assets/community/mask_1.png);
  -webkit-mask-image: url(../public/assets/community/mask_1.png);
  mask-size: 30em;
  -webkit-mask-size: 30em;
  mask-position:center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  
}